{% include "header.html" %}

<div class="top_row">

    <div class="col left">
        <div class="logo">
            <a href="{{ url_for('home') }}">
        <!--        <img src="static/img/logo.png">-->
                <img src="../static/img/logo.png">
            </a>
        </div>
    </div>

    <div class="col right" >
        <div class="topnav">
          <a href="{{ url_for('home')}}">Home</a>
          <a class="active" href="{{ url_for('about') }}">About</a>
          <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>

</div>
<br><br>


{% include "footer.html" %}