<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some ToDo List by MC</title>
<!--    <link rel="stylesheet" href="static/styles/style.css">-->
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>

<div class="top_row">

    <div class="col left">
        <div class="logo">
    <!--        <img src="static/img/logo.png">-->
            <img src="../static/img/logo.png">
        </div>
    </div>

    <div class="col right" >
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#login">Login</a>
        </div>
    </div>

</div>
<br><br>
<div class="container">

    <div class="col left">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            <br>
            Semper feugiat nibh sed pulvinar proin gravida. Mi eget mauris pharetra et ultrices neque. Aliquam eleifend mi in nulla posuere sollicitudin. 
        </p>
    </div>
    
    <div class="col right">
<!--        <img src="static/img/todo_img01.jpg">        -->
        <img src="../static/img/todo_img01.jpg" alt="todo img 01">
    </div>

</div>

<br><br>
<div class="container">

    <div class="col left">
<!--        <img src="static/img/todo_img02.jpeg" alt="todo img 02">-->
        <img src="../static/img/todo_img02.jpeg" alt="todo img 02">
    </div>

    <div class="col right">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <br>
            Semper feugiat nibh sed pulvinar proin gravida. Mi eget mauris pharetra et ultrices neque. Aliquam eleifend mi in nulla posuere sollicitudin.
        </p>
    </div>


</div>

</body>
</html>