{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="top_row">

    <div class="col left">
        <div class="logo">
            <a href="{{ url_for('home') }}">
        <!--        <img src="static/img/logo.png">-->
                <img src="../static/img/logo.png">
            </a>
        </div>
    </div>

    <div class="col right" >
        <div class="topnav">
          <a href="{{ url_for('home')}}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
          <a class="active" href="{{ url_for('login') }}">Login</a>
        </div>
    </div>

</div>
<br><br>

<div class="container">

    <p>
        {{ wtf.quick_form(form) }}
    </p>

</div>


{% include "footer.html" %}
{% endblock %}