{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}


<div class="container">

    <h3>Tasks:</h3>

    <div class="col left">
        <a href="{{ url_for('new_task') }}" class="a_btn">New task</a>
    </div>

    <div class="col right">
        Filtr Status: &nbsp; &nbsp;
        <form method="post" action="/ctts">
            <select class="status_select" name="s_status">
                <option value="-1">All</option>
                {% for s in all_status %}
                <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="a_btn" value="Use filter" />
        </form>
    </div>
</div>

<hr>

  <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        {% for task in all_tasks %}
        <div class="task-preview">
          <a href="{{ url_for('show_task', task_id=task.id) }}">
<!--          <a href="{{ url_for('about', task_id=task.id) }}">-->
            <h3 class="task-title">
              {{task.name}}
            </h3>
            <h5 class="task-subtitle">
              Start date: {{task.start_date}} -> Task status: {{ all_status[task.id_status].name }}
            </h5>
          </a>
        </div>
        <hr>
        {% endfor %}

      </div>
    </div>
  </div>
  <hr>


{% include "footer.html" %}
{% endblock %}