{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}


<div class="container">

  <p>
    <h3>Tasks:</h3>
  </p>

</div>

  <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        {% for task in all_tasks %}
        <div class="task-preview">
          <a href="{{ url_for('show_task', task_id=task.id) }}">
            <h3 class="task-title">
              {{task.name}}
            </h3>
            <h5 class="task-subtitle">
              Start date: {{task.start_date}} -> Task status: {{ all_status[task.id_status].name }}
            </h5>
          </a>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        {% if current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
  <hr>


{% include "footer.html" %}
{% endblock %}